{% extends "base.html" %}
{% block head_add %}
{% endblock head_add %}
{% block title %}
Ask Boldyrev - Profile
{% endblock title %}
{% block main_block %} 
<form action="{% url 'profile' %}" method="post">
{% csrf_token %}
<table>
<tr>
<td>
Login:
</td>
<td> 
<input type="text" name="edit_login"/>
</td>
<td rowspan="3">
<img class="self_avatar" style="margin-left:20px" id="qwe" src="{{ request.user.person.avatar }}" />
</td>
</tr>
<tr>
<td> 
Previous password: 
</td>
<td> 
<input type="password" name="prev_password"/>
</td>
</tr>
<tr>
<td> 
New password: 
</td>
<td> 
<input type="password" name="new_password"/>
</td>
</tr>
<tr>
<td> 
Retype new password: 
</td>
<td> 
<input type="password" name="re_new_password"/>
</td>
</tr>
<tr>
<td> 
Change avatar: 
</td>
<td> 
<input type="file" accept="image/jpeg,image/png"/>
</td>
</tr>
</table> 
<br/>
<button type="submit">Apply</button>
</form>

{% endblock main_block %} 
